footer.footer.bg-dark.text-light.pt-5.pb-3
  .container
    .row

      // Logo + About
      .col-md-4.mb-4
        h5.font-weight-bold CureM4
        p.text-muted.mt-3
          | We provide high quality medical products 
          | and healthcare solutions for everyone.

      // Quick Links
      .col-md-4.mb-4
        h5.font-weight-bold Quick Links
        ul.list-unstyled.mt-3
          li
            a.footer__link(href="#") Home
          li
            a.footer__link(href="#") Shop
          li
            a.footer__link(href="#") Products
          li
            a.footer__link(href="#") Contacts

      // Contact
      .col-md-4.mb-4
        h5.font-weight-bold Contact
        p.mt-3.mb-1 Phone: 989-879-0847
        p.mb-1 Email: support@curem4.com
        p Address: 123 Medical Street

    hr.bg-secondary

    .text-center.pt-2
      small © 2026 CureM4. All rights reserved.