header.bg-light.py-3
  .container
    .row.align-items-center

      // Logo
      .col-md-2.col-6
        a.d-flex.align-items-center.text-decoration-none(href="#")
          img(src="/images/logo.png", alt="logo", width="40")
          span.ml-2.font-weight-bold.text-secondary CureM4

      // Menu
      .col-md-6.d-none.d-md-block
        ul.nav.justify-content-center
          li.nav-item
            a.nav-link.text-primary(href="#") Home
          li.nav-item
            a.nav-link.text-primary(href="#") Shop
          li.nav-item
            a.nav-link.text-primary(href="#") Products
          li.nav-item
            a.nav-link.text-primary(href="#") Abouts
          li.nav-item
            a.nav-link.text-primary(href="#") Contacts

      // Contact
      .col-md-3.d-none.d-md-block.text-right
          span.text-dark
          | Need help? 989-879-0847
