if success && success.length > 0
  .alert.alert-success.alert-dismissible.fade.show(role="alert")
    | #{success[0]}
    button.close(type="button" data-dismiss="alert" aria-label="Close")
      span(aria-hidden="true") &times;
if error && error.length > 0
  .alert.alert-danger.alert-dismissible.fade.show(role="alert")
    | #{error[0]}
    button.close(type="button" data-dismiss="alert" aria-label="Close")
      span(aria-hidden="true") &times;